<!-- User Feedback -->
<div class="progress-spinner-outer-cont"
  *ngIf="isMining 
    || ShowWaitingForTurnSpinner()
    || ShowWaitingToJoinSpinner()">
  <div class="progress-spinner-cont"
    *ngIf="isMining">
    <mat-progress-spinner
      [color]="'primary'"
      [mode]="'indeterminate'"
      [diameter]="250">
    </mat-progress-spinner>
    <h1>Mining Transaction...</h1>
    <a target="_blank" href="{{ txUrl }}" *ngIf="txUrl">View Transaction on EtherScan</a>
  </div>
  <div class="progress-spinner-cont"
    *ngIf="ShowWaitingForTurnSpinner()">
    <mat-progress-spinner
      [color]="'primary'"
      [mode]="'indeterminate'"
      [diameter]="250">
    </mat-progress-spinner>
    <h1>Waiting For Your Turn...</h1>
  </div>
  <div class="progress-spinner-cont"
    *ngIf="ShowWaitingToJoinSpinner()">
    <mat-progress-spinner
      [color]="'primary'"
      [mode]="'indeterminate'"
      [diameter]="250">
    </mat-progress-spinner>
    <h1>Waiting For An Opponent...</h1>
  </div>
</div>
<!-- User Feedback -->

<div id="outer-container">
    <div class="inner-container">
        <div class="header">
            <img src="../assets/coin-eth.gif" class="logo-img" />
            <h1>TicTacTotalMania</h1>
            <div class="header-right">
                <p matTooltip="Ethereum Wallet Balance">
                    <img class="eth-balance" src="../assets/ether.svg" />
                    {{ ethBalance }}
                </p>
                <p matTooltip="Contract Address"
                  *ngIf="contractAddress">
                    Contract Address: 
                    {{ contractAddress }}
                </p>
            </div>
        </div>

        <div id="game-container">
          <div id="game-container-overlay"
            *ngIf="!gameInProgress">

            <div class="button-cont">
              <button mat-raised-button color="primary" class="btn btn-primary btn-large"
                (click)="CreateGame()">
                Start Game
              </button>
              <button mat-raised-button color="accent" class="btn btn-secondary btn-large"
                (click)="JoinGame()">
                Join Existing
              </button>
            </div>
          </div>
          <div class="tic-tac-row"
            *ngFor="let row of boardSizeX">
            <div class="tic-tac-col col-{{ boardSizeY.length+1 }}"
              (mouseover)="ShowMarker($event)"
              (mouseleave)="DestroyMarkers($event)"
              *ngFor="let col of boardSizeY">
              <p [style.color]="this.playerColor"></p>
            </div>
          </div>
        </div>
    </div>
</div>